@{
}
<footer class="bg-light border-top fixed-bottom">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-8">
                <p class="mb-0">© @DateTime.Now.Year Dopamine EnT. All rights reserved.</p>
            </div>
            <div class="col-md-4 text-md-end">
                <small>Contact: 22T1020587@husc.edu.vn</small>
            </div>
        </div>
    </div>
</footer>